<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Google App Engine | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css" />

    <script type="text/javascript" src="assets/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Login Options - START -->
    {% if error_message %}
    <script type="text/javascript">
      alert('{{ error_message }}');
    </script>
    {% endif %}

    <div class="container" style="min-height: 730px;">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default panel-shadow" style="margin-top: 200px;">
                <div class="panel-heading" style="background-color:grey">
                    <h1 class="panel-title" style="color:white">Sign In</h1>
                </div>
                <div class="panel-body">
                    <form action="/signin" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="User Email" name="email" type="email" required="required" autofocus="autofocus"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="pwd" type="password" value="" required="required" />
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="rem"  value="remMe"/>Remember Me</label>
                            </div>
                            <button type="submit" class="btn btn-basic btn-block">Sign in</button>
                            <div style="margin-top: 10px; text-align: center">
                                <span style="margin-right:20px">No account?</span><a href="/register">Sign Up</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!-- Login Options - END -->
<style media="screen">
    .panel-shadow {
        box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
    }
</style>

</body>
</html>
